h1 {
    text-align: center;
    vertical-align: top;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}
h2{ 
    text-align: center;
    vertical-align: top;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

header{
    background-color: darkblue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
}
p {
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

div {
    background-color: lightgrey;
    width: 600px;
    border: 15px solid darkblue;
    padding: 50px;
    margin: 20px;
    float: left;
    text-align: center;
  }

footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(68, 68, 138);
    
}
